<div class="container mt-5">
  <h2 class="mb-4">Create a new post</h2>
  <form class="new-chess-post-form">
    <div class="mb-3">
      <label for="title-new-chess-post" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title-new-chess-post"
        placeholder="Title"
      />
    </div>
    <div class="mb-3">
      <label for="content-new-chess-post" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="content-new-chess-post"
        rows="5"
        placeholder="Content"
      ></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>